mixin review(review)
	.review__hearder
		.review__author
			img.avater(src=review.author.gravatar)
			p= review.author.name
		.review__stars(title=`Rated ${review.rating} our of 5 stars`)
			= `&#9733;`.repeat(review.rating)
			= `&#9734;`.repeat(5 - review.rating)
		time.review__time(datetime=review.created)= h.moment(review.created).fromNow()
	.review__body
		p= review.text